token
corr_xformer
read_AE
*.npz

Ranbow.zip
ranbow_*

Transformers_v*.ipynb

Simulated_data/

generate_data/argcmd_test.cpp
generate_data/a.out
generate_data/config
generate_data/reference_1.*
!generate_data/reference_1.fasta
generate_data/helper_original.py
generate_data/hap*
generate_data/cov*

generate_data/lactococcus_phage.fa.amb
generate_data/lactococcus_phage.fa.ann
generate_data/lactococcus_phage.fa.bwt
generate_data/lactococcus_phage.fa.fai
generate_data/lactococcus_phage.fa.pac
generate_data/lactococcus_phage.fa.sa

!generate_data/art_bin_ChocolateCherryCake/
generate_data/art_bin_ChocolateCherryCake/*
!generate_data/art_bin_ChocolateCherryCake/art_illumina

!generate_data/bwa-0.7.17/
generate_data/bwa-0.7.17/*
!generate_data/bwa-0.7.17/bwa

generate_data/HapCUT2/
generate_data/haptest/

