token
corr_xformer
read_AE
*.npz
*.log
*.pyc

.ipynb_checkpoints

Transformers_v*.ipynb
File Parsing.ipynb

Simulated_data/

generate_data/argcmd_test.cpp
generate_data/a.out
generate_data/config
generate_data/reference_1.*
!generate_data/reference_1.fasta
generate_data/helper_original.py
generate_data/hap*
generate_data/cov*
generate_data/pbsim_test
generate_data/cpp_debug
generate_data/del*
generate_data/proc_frag_sdhap.py

generate_data/lactococcus_phage.fa
generate_data/lactococcus_phage.fa.amb
generate_data/lactococcus_phage.fa.ann
generate_data/lactococcus_phage.fa.bwt
generate_data/lactococcus_phage.fa.fai
generate_data/lactococcus_phage.fa.pac
generate_data/lactococcus_phage.fa.sa

generate_data/SRR6173308
generate_data/Solanum_tuberosum.chromosome.5.fa
generate_data/Solanum_tuberosum.SolTub_3.0.dna.chromosome.5.fa
generate_data/solanum_tuberosum_long.fa

!generate_data/art_bin_ChocolateCherryCake/
generate_data/art_bin_ChocolateCherryCake/*
!generate_data/art_bin_ChocolateCherryCake/art_illumina

!generate_data/bwa-0.7.17/
generate_data/bwa-0.7.17/*
!generate_data/bwa-0.7.17/bwa

generate_data/HapCUT2/
generate_data/haptest/

generate_data/ExtractMatrix_v*
generate_data/ExtractMatrix_longread_v*

*.fa.*

*.ipynb
!Transformers_Kernel_Kmeans-v4.ipynb

test*
generate_data/test*
generate_data/tmp*

Ranbow.zip
ranbow_*
*.list
*.fa.*
SDHap
hapcompass*

generate_data/gen_benchmark_data.sh
generate_data/run_caec_haplo.sh

generate_data/NA12878/*.bam
generate_data/NA12878/*.bai
generate_data/NA12878/*.vcf
generate_data/NA12878/HG001_GRCh37*
generata_data/NA12878/*.jpg
